body {
  background-color: #536bc1;
  padding: 50px 30px;
  text-align: center;
  color: #fff;
  font: normal normal 24px / 1.25 "Raleway", Helvetica, Arial, Verdana, sans-serif;
}

body p {
  max-width: 60ch;
  margin: 0 auto 2em;

}

img{
  position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
}

.center-box {
  position: absolute;
  top: 50%;
  left :50%;
  transform: translate(-50%, -50%);
  
  background-color: rgb(13, 12, 19);
  height: 100%;
  width: 100%;
  max-height: 80vh;
  max-width: 30vw;
  border-radius: 10px;
  text-align: center;
  padding-top: 7vh;
  color : white;
  border: 2px solid white;
  box-sizing: border-box;
  /* opacity: 0.8; */
  
  }

  .button1{
    background-color: #000;
    border: 0.4vw solid rgb(230, 216, 219);
    border-radius: 2vw;
    color: #fff;
    padding: 1vw;
    cursor: pointer;
    font-size: 1vw;
    box-shadow: 0 0 10px 0 rgb(161, 159, 159),
                0 0 10px 0 rgb(217, 192, 197),
                0 0 10px 0 rgb(230, 202, 208) inset;
    position: absolute;
    top: 70vh;
    right: 1vw;       
  }
.testimonial-slider {
   display: block;
   width: 100%;
   height: auto;
   margin-top: 100px;
}

.testimonial-slider ul.slider {
   display: block;
   list-style: none;
   padding: 0;
   position: relative;
   display: inline-block;
   width: 100%;
   height: 350px;
   overflow: hidden;
   margin: 0 auto;
}

.testimonial-slider ul.slider li {
    position: absolute;
    display: block;
    width: 100%;
    opacity: 0;
    margin: 0 auto;
}
.testimonial-slider ul.slider li:nth-child(1) {
    opacity: 1;

    -webkit-animation: fade-animation-1 25s infinite;
            animation: fade-animation-1 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(2) {
    -webkit-animation: fade-animation-2 25s infinite;
            animation: fade-animation-2 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(3) {
    -webkit-animation: fade-animation-3 25s infinite;
            animation: fade-animation-3 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(4) {
    -webkit-animation: fade-animation-4 25s infinite;
            animation: fade-animation-4 25s infinite;
}

.testimonial-slider q {
   display: inline-block;
   font: normal 700 3.2vw / 1.25 "Raleway", Helvetica, Arial, Verdana, sans-serif;
   letter-spacing: .5pt;
   text-shadow: 0 5px 10px rgba(0,0,0,.1);
   max-width: 30ch;
   
   

}

.testimonial-slider .source {
    margin-top: 25px;
    color: #d9e0f9;
    font: italic 400 30px / 1.35 "Raleway", Helvetica, Arial, Verdana, sans-serif;
}

/* KEYFRAME DECLARATIONS */
@keyframes fade-animation-1 {
    0%, 25%, 100% {
        opacity:0
    }
    3%, 22% {
        opacity: 1;
    }
}
@keyframes fade-animation-2 {
    0%, 25%, 50%, 100% {
        opacity:0
    }
    28%, 47% {
        opacity: 1;
    }
}
@keyframes fade-animation-3 {
    0%, 50%, 75%, 100% {
        opacity:0
    }
    53%, 72% {
        opacity: 1;
    }
}
@keyframes fade-animation-4 {
    0%, 75%, 100% {
        opacity:0
    }
    78%, 97% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-animation-1 {
    0%, 25%, 100% {
        opacity:0
    }
    3%, 22% {
        opacity: 1;
    }
}
@-webkit-keyframes fade-animation-2 {
    0%, 25%, 50%, 100% {
        opacity:0
    }
    28%, 47% {
        opacity: 1;
    }
}
@-webkit-keyframes fade-animation-3 {
    0%, 50%, 75%, 100% {
        opacity:0
    }
    53%, 72% {
        opacity: 1;
    }
}
@-webkit-keyframes fade-animation-4 {
    0%, 75%, 100% {
        opacity:0
    }
    78%, 97% {
        opacity: 1;
    }
}